<div class="box">
  <div class="center">
    <h3 class="blue">Edit <%= @organisation.name %></h3>
    <%= simple_form_for @organisation do |f| %>
      <br />
      <%= f.input :name, label: 'Name: ', label_html: { class: 'field' } %>
      <br />
      <%= f.input :hourly_rate, label: 'Hourly Rate: ', label_html: { class: 'field' }  %>
      <br />
      <%= f.submit 'Update', method: :put, class: 'field button border' %>
      <%= link_to 'Cancel', organisations_path(@organisation), class: 'button border' %>
      <br /><br />
    <% end %>
  </div>
</div>
