<div class="box">
  <p class="center">Signed in as <%= current_user.name %></p>

  <% if !current_user.organisations %>
    <p>To get started you need to join or create an Organisation</p>

  <%else %>
    <h3 class="blue center">Organisations</h3>
    <ul class="left-align">
      <% @organisations.each do |item| %>
        <li><%= item.name %>  <%= link_to 'Edit', edit_organisation_path(item) %>  <a href="#"> Join</a></li>
      <% end %>
    </ul>
  <% end %>

  <h3 class="blue center">Create an Organisation</h3>
  <div class="left-align field">
    <%= simple_form_for @organisation do |f| %>
      <%= f.input :name, label: 'Name:', label_html: { class: 'form_field field' } %>
      <%= f.input :hourly_rate, label: 'Hourly Rate:', label_html: { class: 'form_field field' } %>
      <%= f.button :submit, class: 'field blue', style: 'margin-bottom: 15px;' %>
    <% end %>
  </div>
</div>
