<div class="box">
  <p class="center">Signed in as <%= current_user.name %></p>
  <% if !@organisations.length %>
    <h4 class="left-align">To get started you need to join or create an Organisation</h4>
  <% end %>
  <h3 class="blue center">Organisations</h3>
  <ul class="left-align">
    <% @organisations.each do |item| %>
      <li><%= item.name %>
        <%= link_to 'Edit', edit_organisation_path(item) %>&nbsp;
        <% if current_user.joined_organisation?(item) %>
          <%= link_to 'View', organisation_path(item) %>&nbsp;
        <% else %>
          <%= link_to 'Join', organisation_organisation_enrollments_path(item), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3 class="blue center">Create an Organisation</h3>
  <div class="left-align field">
    <%= simple_form_for @organisation do |f| %>
      <%= f.input :name, label: 'Name:', label_html: { class: 'form_field field' } %>
      <%= f.input :hourly_rate, label: 'Hourly Rate:', label_html: { class: 'form_field field' } %>
      <%= f.button :submit, class: 'field blue', style: 'margin-bottom: 15px;' %>
    <% end %>
  </div>
</div>
