<div class="box center">
  <h3 class="blue">Add a Shift</h3>
  <div class="left-align field">
    <%= simple_form_for @shift, url: organisation_shifts_path(params[:organisation_id]) do |f| %>
      <%= f.input :start, as: :datetime, label: 'Start Time:', label_html: { class: 'form_field field' } %>
      <%= f.input :finish, as: :datetime, label: 'Time Finished:', label_html: { class: 'form_field field' } %>
      <%= f.input :break_length, as: :integer, label: 'Break Length:', label_html: { class: 'form_field field'} %>
      <%= f.button :submit, class: 'field blue', style: 'margin-bottom: 15px;' %>
    <% end %>
  </div>
</div>
