<!DOCTYPE html>
<html>
  <head>
    <title>Adnat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h1 class="center"><%= link_to 'Adnat Time App', root_path, class: 'clean blue' %></h1>
    <div class="right-align">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
    <br />

    <%= yield %>
  </body>
</html>
